<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="location" value="eastus2"/>
    <add key="key" value="df1b001a919943b9b0195fd29cadf2e8"/>
  </appSettings>
</configuration>